@charset "utf-8";
//Flexbox
//Display: flex
//justify-content: x-axis (rules: space-between, space-around, flex-start, flex-end, center)
//align-items: up, down
//flex-wrap: wrap, nowrap
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

//font family for whole body
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12pt;
  margin: 0;
}

.container {
  max-width: 90%;
  margin: 5px auto;
  display: flex;
  flex-flow: column nowrap;

  .pull-content-right {
    display: flex;
    justify-content: flex-end;
  }

  nav {
    display: flex;
    background: #492365;
    text-decoration: none;

    ul {
      display: flex;
      list-style: none;
      padding: 0px;

      & > li {
        margin: 0px;
        padding: 0px 10px;
      }

      a:link, a:visited {
        color: white;
        text-decoration: none;
      }

      &:first-child {
        flex: 1;
      }

      #_sign_user_out {
        color: white;
      }
    }
  }

  main {
    display: flex;

    & > .card {
      width: 30%;
      border: 5px solid #492365;
      padding: 10px;
      margin: 10px;

      img {
        width: 60%;
      }

      .desc {
        border: 1px solid rgb(0, 0, 0);
        padding: 2px 2px 2px 2px;
      }

      .extra {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        padding: 5px 5px 5px 5px;
        border: 1px solid rgb(0, 0, 0);
        justify-content: space-evenly;
        align-content: space-between;

        & > li:not(:first-child) {
          padding-left: 20px;
        }
      }
    }
  }
}

.card_expanded {
  display: flex;
  border: 5px solid #492365;
  padding: 4px;
  margin: 4px;
  justify-content: flex-start;
  flex-wrap: wrap;

  img {
    width: auto;
    max-width: 490px;
    flex-grow: 3;
    position: center;
  }

  button {
    max-width: 100px;
  }
}

button.primary {
  margin: 10px;
  padding: 10px 20px;
  border: 1px solid lightgray;
  border-radius: 5px;
  background: #492365;
  color: whitesmoke;
}

form {
  width: 90%;

  .field {
    display: flex;

    & label {
      width: 15%;
      padding: 5px;
      font-weight: bold;
    }

    & .control {
      width: 85%;

      input, textarea {
        padding: 10px;
        border: 1px solid #eee;
        border-radius: 3px;
        width: 60%;
      }

      p {
        margin: 5px 0;
        font-size: 10px;
        color: red;
      }
    }
  }
}

//left section
#monster-list {
  width: 20%;
  display: flex;
  overflow: auto;
  .inner{
    display: flex;
    flex-wrap: wrap;
    max-height: 75.9vh;
  }
  .item {
    display: flex;
    border: 2px solid black;
    margin: .5px;
    width: 100%;
    justify-content: flex-start;
    flex-flow: column;
    h3{
      padding-left: 3px;
    }
    .item-body{
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: nowrap;
      padding: 2px;
    }
  }
}

//middle section
#encounter-list {

}

#player-list {

}