@charset "utf-8";
//Flexbox
//Display: flex
//justify-content: x-axis (rules: space-between, space-around, flex-start, flex-end, center)
//align-items: up, down
//flex-wrap: wrap, nowrap
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

//font family for whole body
body {
  font-family: Comic Sans MS, Arial, Helvetica, sans-serif;
  font-size: 12pt;
  margin: 0;
  background: antiquewhite;
}

.container {
  max-width: 90%;
  margin: 5px auto;
  display: flex;
  flex-flow: column nowrap;

  .pull-content-right {
    display: flex;
    justify-content: flex-end;
  }

  nav {
    display: flex;
    background: #480B00;
    text-decoration: none;

    ul {
      display: flex;
      list-style: none;
      padding: 0px;

      & > li {
        margin: 0px;
        padding: 0px 10px;
      }

      a:link, a:visited {
        color: white;
        text-decoration: none;
      }

      &:first-child {
        flex: 1;
      }

      #_sign_user_out {
        color: white;
      }
    }
  }

  main {
    display: flex;

    & > .card {
      width: 30%;
      border: 5px solid #480B00;
      padding: 10px;
      margin: 10px;

      img {
        width: 60%;
      }

      .desc {
        border: 1px solid rgb(0, 0, 0);
        padding: 2px 2px 2px 2px;
      }

      .extra {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        padding: 5px 5px 5px 5px;
        border: 1px solid rgb(0, 0, 0);
        justify-content: space-evenly;
        align-content: space-between;

        & > li:not(:first-child) {
          padding-left: 20px;
        }
      }
    }
  }
}

#card_expanded {
  display: flex;
  border: 5px solid #480B00;
  background-image: url(../images/parchment.png);
  background-position: center;
  padding: 4px;
  margin: 4px;
  justify-content: flex-start;
  flex-wrap: wrap;

  .poster{
    display: flex;
    img {
      height: auto;
      width: auto;
      max-width: 490px;
      position: center;
      border: 5px solid #480B00;
    }
  }

  .heading{
    display: flex;
    flex-wrap: wrap;
    margin: 4px;
    padding: 4px;
    .meta{
      flex-direction: column;
      .vertical5050{
        display: flex;
        flex-wrap: wrap;
        height: 42%;
        margin: 4px;
        padding: 4px;
        justify-content: space-between;
        .attribute-block{
          padding: 2px;
        }
      }
    }

  }


  .block{
    display: flex;
    flex-wrap: wrap;
    .inner-block{
      display: flex;
      justify-content: space-evenly;
      p{
        margin: 2px;
      }
    }
  }

  .block-footer{
    align-self: flex-end;
    justify-self: flex-end;
  }
}

button.primary {
  margin: 10px;
  padding: 10px 20px;
  border: 1px solid lightgray;
  border-radius: 5px;
  background: #480B00;
  color: white;
}

button.primary-sm {
  border: 1px solid lightgray;
  border-radius: 5px;
  background: #480B00;
  color: white;
}

#form-section{
  display: flex;
  flex-direction: column;
  label{
    font-weight: bold;
  }
  input{
    width: 85%;
  }
  .input-sm{
    width: 20%;
  }
  #top{
    height: 30%;
    display: flex;
    justify-content: space-around;
  }
  #bottom{
    display: flex;
    .block{
      display: flex;
      margin: 2px;
      .stat-block{
        display:flex;
        flex-direction: column;
        margin: 2px;
      }
    }
  }
  .footer{
    display: flex;
    align-self: flex-end;
    justify-self: flex-end;
  }
}

//left section
#monster-list {
  width: 20%;
  display: flex;
  overflow: auto;
  .inner{
    display: flex;
    flex-wrap: wrap;
    max-height: 75.9vh;
  }
  .item {
    display: flex;
    border-style: solid;
    border-color: #480B00;
    margin: .5px;
    width: 100%;
    justify-content: flex-start;
    flex-flow: column;
    background-color: lightgray;
    h3{
      padding-left: 3px;
    }
    .item-body{
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: nowrap;
      padding: 2px;
    }
  }
}

//middle section
#encounter-list {
  width: 80%;
  display: flex;
  border: 5px solid #480B00;
  margin: 4px;
  background-color: lightgray;
}

#player-list {
  border: 5px solid #480B00;
}